# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\PythonDjango\DataStructuresAndAlgorithms\SearchingAndSortingAlgorithms\Sorting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
